.pokemon_card {
    display: flex;
    width: 300px;
    align-items: center;
    box-shadow: 7px 7px 13px 0px #fffb68;
    border-radius: 2px;
    padding: 30px;
    border: 10px;
    margin: 20px;
    transition: all 0.3s ease-out;
}

.pokemon_card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

.pokemon_image_container {
    float: left;
    width: 100%;
    
}

.pokemon_image {
    margin-right: 1px;
    size: 100%;
    max-width: 100%;
    
}
.card_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card_top {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}



.card_id {
    position: absolute;
    top: 1px;
    right: 4px;
    font-size: 11px;
    color: #bbb;
}
  
.card_top h3 {
    text-transform: capitalize;
    color: #dc5212;
    
}
  
.card_bottom {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  
.pokemon_type {
    display: flex;
}
  
.pokemon_type_text {
    background-color: #333059;
    color: white;
    border: 4px solid transparent;
    border-radius: 3px;
    margin-right: 9px;
    text-transform: capitalize;
}
.pokemon_heart_btn {
    border: none;
    background-color: #FFA3FD;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 4px;
    cursor: pointer;
    align-items: center;
    border-radius: 20px 20px 20px;
}
  
  