.searchbar_container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
}
    
.searchbar {
    margin: 15px;
    width: 100%
}
    
.searchbar input{
    color: #ffffff;
    background: none;
    padding: 10px;
    border: 2px solid #F4F27E;
    border-radius: 3px;
    margin-right: 20px;
    width: 100%;
    font-size: 20px;
}
.searchbar input::placeholder{
    color: #ffffff;
}
    
.search_btn button {
    font-size: 19px;
    background-color: #F4F27E;
    border: 3px solid transparent;
    border-radius: 2px;
    height: 47px;
    color: #050505;
    padding: 20x 20px ;
    width: 120%
    
}

.search_btn button:hover {
    cursor: pointer;
}
    
    