.searchbar_container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
}
    
.searchbar {
    margin: 18px;
    width: 100%
}
    
.searchbar input{
    color: #ffffff;
    background: none;
    padding: 10px;
    border: 1px solid #F4F27E;
    border-radius: 3px;
    margin-right: 20px;
    width: 100%;
    font-size: 20px;
}
.searchbar input::placeholder{
    color: #ffffff;
}
    
.search_btn button {
    font-size: 19px;
    background-color: #F4F27E;
    border: 3px solid transparent;
    border-radius: 2px;
    height: 45px;
    color: #050505;
    padding: 10px 20px ;
    width: 100%
}

.search_btn button:hover {
    cursor: pointer;
}
@media only screen and (max-width: 788px) {
    .searchbar_container {
        justify-content: center; /* Centralizar a barra de pesquisa em telas menores */
    }

    .searchbar {
        width: 90%; /* Reduzir a largura da barra de pesquisa para telas menores */
    }

    .search_btn button {
        width: 100%; /* Largura total para o botão em telas menores */
    }
}

@media only screen and (max-width: 560px) {
    .searchbar_container {
        justify-content: center; /* Centralizar a barra de pesquisa em telas menores */
    }

    .searchbar {
        width: 100%; /* Reduzir a largura da barra de pesquisa para telas menores */
    }

    .search_btn button {
        width: 100%; /* Largura total para o botão em telas menores */
    }
}