.nav {
    padding: 20px;
    background-color: #3081D0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.navbar_logo {
    width: 160px;
}

.favorito {
    width: 45%; 
    font-size: 30px;   
}


@media (max-width: 788px) {
    .nav {
        height: auto; /* Ajustar a altura automaticamente */
        flex-direction: row; /* Mudar para uma disposição em linha */
        justify-content: space-between; /* Espaçamento entre os elementos */
        padding: 10px; /* Adicionar espaço interno */
    }
  
    .navbar_logo {
        width: 150px; /* Reduzir o tamanho do logo */
    }

    .favorito {
        width: 50%; /* Fazer o botão favorito ocupar a largura disponível */
        margin-top: 10px; /* Adicionar margem superior */
    }
}